<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="shortcut icon" href="/static/favicon.ico" type="image/ico" />
<link rel="stylesheet" href="/css/pure-min.css">
<link rel="stylesheet" href="/css/stylesheet.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type='text/javascript' src="/js/js.js"></script>
<body>
{{ CONTENT }}
</body>
</html>
